* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    scroll-behavior: smooth;
}

:root {
    --primary-color: #7c3aed;
    --off-white: #f3f4f6;
    --dark-gray: #6b7280;
}

body {
    font-family: 'Montserrat', sans-serif;
    max-width: 85%;
    width: 100%;
    margin: 0px auto;
}

/* navigation */

.list-non-bullets {
    list-style: none;
    margin: 0.5rem;
}

.list-items-inline {
    list-style: none;
    display: inline;
    padding: 0rem 0.5rem;
}

div {
    display: block;
}

.navigation {
    background-color: var(--primary-color);
    border-bottom-left-radius: 1rem;
    padding: 1rem;
}

.navigation div a {
    color: var(--off-white);
    cursor: pointer;
    font-weight: bold;
    font-size: 1.5rem;
    padding-left: 0rem 0.6rem;
}

.navigation .nav-pills {
    text-align: right;
}

.navigation .link {
    padding: 0rem 1.2rem;
}

.navigation .link:hover {
    text-decoration: underline;
}

.navigation ul li a {
    color: var(--off-white);
    font-size: 1.2rem;
}

.navigation .active {
    font-weight: bold;
    text-decoration: underline;
}

/* header  */
.heading {
    padding: 2rem 2rem 0rem;
}

.heading .main-heading {
    text-align: center;
    padding-top: 1rem;
    color: var(--dark-gray);
}

h1 {
    display: block;
    font-size: 2em;
    margin: 0.67rem 0rem;
    font-weight: bold;
}

.heading .main-heading .heading-inverted {
    color: var(--primary-color);
}

/* project lists */
.list-non-bullet {
    list-style: none;
    padding-inline-start: 0px;
}

ul {
    display: block;
    margin: 1em 0em;
}

li {
    display: list-item;
    text-align: -webkit-match-parent;
}

.showcase-list {
    padding: 2rem;
    border-radius: 1rem;
    text-align: center;
    margin: 3rem auto;
}

.ow {
    background-color: var(--off-white);
}

.container-center {
    max-width: 900px;
    width: 100%;
    margin: auto;
}

article {
    display: block;
}

.showcase-list h1 {
    margin: 0.5rem;
}

h1 {
    display: block;
    font-size: 2em;
    margin: 0.67rem 0rem;
    font-weight: bold;
}

small {
    font-size: smaller;
}

.showcase-list p {
    padding-bottom: 1rem;
    margin-bottom: 0.3rem;
}

.link-primary {
    max-width: 140px;
    padding: 0.6rem 1.2rem;
    background-color: var(--primary-color);
    color: #fff;
    margin: 1.5rem auto;
    border-radius: 2rem;
}

.link-secondary {
    max-width: 140px;
    margin: 1.5rem;
    padding: 0.6rem 1.2rem;
    border-radius: 2rem;
    border: 1px solid var(--primary-color);
    color: var(--primary-color);
}

/* footer*/

.footer {
    background-color: var(--primary-color);
    padding: 1.5rem 1rem;
    text-align: center;
    color: white;
    border-top-right-radius: 1rem;
}

.footer .footer-header {
    font-size: 1.6rem;
    font-weight: bold;
    color: var(--off-white);
}

.footer .list-non-bullet {
    list-style: none;
}

.footer .social-links {
    margin: 1.5rem 1rem;
    font-size: 1.2rem;
}

.footer .social-links li {
    list-style: none;
    display: inline;
    padding: 0rem 1.1rem;
}

.footer .social-links li a {
    color: var(--off-white);
}

.footer .social-links li a:hover {
    text-decoration: underline;
}

/* Responsiveness */
@media screen and (max-width:620px) {
    .footer .social-links {
        margin: 0rem 3rem;
        font-size: 1.2rem;
    }

    .link-primary {
        margin: 0.2rem auto;
    }

    .link-secondary {
        margin: 0.2rem auto;
    }
}

@media screen and (max-width:576px) {
    .footer .social-links {
        margin: 0rem 4rem;
        font-size: 1.2rem;
    }

    .link-primary {
        display: flex;
        margin: 0.2rem auto;
    }

    .link-secondary {
        display: flex;
        margin: 0.2rem auto;
    }
}

@media screen and(max-width:450px) {
    .navigation .link {
        padding: 0rem 0rem;
    }

    .link-primary {
        display: flex;
        margin: 0.2rem auto;
    }

    .link-secondary {
        display: flex;
        margin: 0.2rem auto;
    }

    .footer .footer-header {
        margin-bottom: 0.5rem;
    }

    .footer .social-links {
        margin: 0rem 4rem;
        font-size: 1.2rem;
    }

    .footer .social-links li {
        padding: 0rem 1.5rem;
    }
}

@media screen and (max-width:360px) {
    .navigation .link {
        padding: 0rem 0rem;
    }

    .link-primary {
        display: flex;
        margin: 0.2rem auto;
    }

    .link-secondary {
        display: flex;
        margin: 0.2rem auto;
    }

    .footer .social-links {
        margin: 0.3rem 4.5rem;
        font-size: 1rem;
    }

    .footer .footer-header {
        font-size: 1.2rem;
    }
}

@media screen and (max-width:325px) {
    .navigation .link {
        padding: 0rem 0rem;
    }

    .link-primary {
        display: flex;
        margin: 0.2rem auto;
    }

    .link-secondary {
        display: flex;
        margin: 0.2rem auto;
    }

    .footer .social-links {
        margin: 0.3rem 3rem;
        font-size: 1rem;
    }
}