* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    scroll-behavior: smooth;
}

:root {
    --primary-color: #7c3aed;
    --off-white: #f3f4f6;
    --dark-gray: #6b7280;
}

body {
    font-family: 'Montserrat', sans-serif;
    max-width: 85%;
    width: 100%;
    margin: 0px auto;
}

/* navigation */

.list-non-bullets {
    list-style: none;
    margin: 0.5rem;
}

.list-items-inline {
    list-style: none;
    display: inline;
    padding: 0rem 0.5rem;
}

div {
    display: block;
}

.navigation {
    background-color: var(--primary-color);
    border-bottom-left-radius: 1rem;
    padding: 1rem;
}

.navigation div a {
    color: var(--off-white);
    cursor: pointer;
    font-weight: bold;
    font-size: 1.5rem;
    padding-left: 0rem 0.6rem;
}

.navigation .nav-pills {
    text-align: right;
}

.navigation .link {
    padding: 0rem 1.2rem;
}

.navigation .link:hover {
    text-decoration: underline;
}

.navigation ul li a {
    color: var(--off-white);
    font-size: 1.2rem;
}

.navigation .active {
    font-weight: bold;
    text-decoration: underline;
}

/* header  */

.hero {
    padding: 2rem;
    text-align: center;
    color: var(--dark-gray);
}

.hero .hero-img {
    width: 550px;
    display: block;
    margin: auto;
}

@media all and (max-width: 768px) {
    .hero .hero-img {
        max-width: 85%;
    }
}

.hero .hero-heading {
    text-align: center;
    font-size: 1.6rem;
    padding-top: 1.5rem;
    margin-bottom: 0.5rem;
}

.hero .hero-heading .one {
    border: 1px solid var(--primary-color);
    background-color: var(--primary-color);
    color: var(--off-white);
    border-radius: 5px;
    padding: 0.2rem 0.4rem;
}

.hero .name {
    font-size: 3rem;
    color: var(--dark-gray);
}

.hero .profile {
    font-size: 1.6rem;
    font-weight: light;
    color: var(--primary-color)
}

/*section*/
section {
    display: block;
    text-align: center;
}

.container {
    margin: 1.5rem 0rem;
    padding: 1.5rem;
}

.container h1 {
    margin-bottom: 0.7rem;
}

.section-gray {
    background-color: #f3f4f6;
    border-radius: 1rem;
}

.section div p,
.section-gray p {
    margin-bottom: 0.7rem;
}

/* section links */
.link-primary {
    background-color: var(--primary-color);
    color: var(--off-white);
    border-radius: 1rem;
    padding: 0.3rem 0.6rem;
    margin: 1rem 0rem;
}

.link-primary:hover {
    border: 1px solid var(--primary-color);
}

.link-secondary {
    color: var(--primary-color);
    border: 1px solid var(--primary-color);
    border-radius: 1rem;
    padding: 0.3rem 0.6rem;
    margin: 1rem 0rem;
}

.link-secondary:hover {
    background-color: var(--primary-color);
    color: var(--off-white);
}

/* footer*/

.footer {
    background-color: var(--primary-color);
    padding: 1.5rem 1rem;
    text-align: center;
    color: white;
    border-top-right-radius: 1rem;
}

.footer .footer-header {
    font-size: 1.6rem;
    font-weight: bold;
    color: var(--off-white);
}

.footer .list-non-bullet {
    list-style: none;
}

.footer .social-links {
    margin: 1rem 1rem;
    font-size: 1.2rem;
}

.footer .social-links li {
    list-style: none;
    display: inline;
    padding: 0rem 2rem;
}

.footer .social-links li a {
    color: var(--off-white);
}

.footer .social-links li a:hover {
    text-decoration: underline;
}

/* Responsiveness */
@media all and (max-width: 768px) {
    .hero .hero-img {
        max-width: 85%;
    }
}

@media screen and (max-width:620px) {
    .footer .social-links {
        margin: 0rem 3rem;
        font-size: 1.2rem;
    }
}

@media screen and (max-width:576px) {
    .footer .social-links {
        margin: 0rem 4rem;
        font-size: 1.2rem;
    }
}

@media screen and (max-width:450px) {
    .navigation .link {
        padding: 0rem 0rem;
    }

    .hero .hero-heading {
        font-size: 1.1rem;
    }

    .hero .name {
        font-size: 2.2rem;
        color: var(--dark-gray);
    }

    .hero .profile {
        font-size: 1.1rem;
    }

    .footer .footer-header {
        margin-bottom: 0.5rem;
    }

    .footer .social-links {
        margin: 0rem 4rem;
        font-size: 1.2rem;
    }

    .footer .social-links li {
        padding: 0rem 1.5rem;
    }
}

@media screen and (max-width:360px) {
    .navigation .link {
        padding: 0rem 0rem;
    }

    .hero .hero-heading {
        font-size: 1.2rem;
    }

    .hero .name {
        font-size: 2.1rem;
    }

    .hero .profile {
        font-size: 1.2rem;
    }

    .footer .social-links {
        margin: 0.3rem 4.5rem;
        font-size: 1rem;
    }

    .footer .footer-header {
        font-size: 1.2rem;
    }
}

@media screen and (max-width:325px) {
    .navigation .link {
        padding: 0rem 0rem;
    }

    .hero .hero-heading {
        font-size: 1rem;
    }

    .hero .name {
        font-size: 1.8rem;
    }

    .hero .profile {
        font-size: 1rem;
    }

    .footer .social-links {
        margin: 0.3rem 3rem;
        font-size: 1rem;
    }
}